
.centered-bold {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48vh;
  margin: 0;
  font-size: 25px;
  margin-bottom: 20px; /* Agrega margen inferior para separar el párrafo de la imagen */
}


.img_tick {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25vh; /* Ajusta la posición vertical, aumenta el valor para bajar la imagen más abajo */

}

