* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
body{
    background-color: #ffffff;
}

/* Carrusel */
.carousel{
    background-color: #ffffff;
}
.carousel img {
    
    height: 500px;
}

/* Estilos para la barra de búsqueda */
.filtros {
    background-color: white; /* Fondo negro */
    color: black; /* Texto blanco */
    padding: 10px 0; /* Espacio interno */
}

.filtros .buscador {
    width: 100%; /* Ocupar todo el ancho disponible */
    padding: 5px; /* Espacio interno */
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: none; /* Sin borde */
    margin-right: 10px; /* Espacio derecho entre el campo y el selector */
}

.filtros select {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: none; /* Sin borde */
    padding: 5px; /* Espacio interno */
    margin-right: 10px; /* Espacio derecho entre el selector y el botón */
}

/* Estilos para el botón de búsqueda */
.filtros .buscar {
    padding: 5px 10px; /* Espacio interno */
    background-color: #333; /* Fondo negro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Cartelera */ 
.card{
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 10px;
    padding: 0;
    margin: 20px;
    width: 250px;
}

.card button{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
}

.card button:hover{
    background-color: #d1d1d1;
}

.acordeon
{
    position: relative;
    width: 70% ;
    margin-left: 15%;
    padding-bottom: 17%;
    height: 80%;
}