* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
body{
    background-color: #ffffff;
}
nav
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0,0,0.05);
}
parts
{
display: flex;
align-items: center;
}
nav ul
{
    position: relative;
    display: flex;
    gap: 30px;
}

li
{
    list-style: none; /*saca los items de la lista*/
}

nav ul li a
{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: hsl(0, 0%, 0%);
    text-transform: uppercase; /*mayuscula*/
    letter-spacing: 0.2em;
    
}

/*permite que sobre las opciones cuando tengan el pursor encima se deslice la barra negra*/
nav ul li a:before
{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

nav ul li a:hover::before
{
transform: scaleX(1);
transform-origin: left;
}

/* Carrusel */

.carousel{
    background-color: #ffffff;
}
.carousel img {
    
    height: 300px;
}

/* Filtros */

.filtros{
    background-color: #ffffff;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #000;
}
.buscador{
    height: 50px;
    width: 100%;
    border-style: none;
}
.buscar{
    height: 100%;
    width: 100%;
    border-radius: 0%;
}
select{
    width: 200px; height: 100%;
    background-color: #ffffff;
    border-style: none;
}
label{
    margin-top: 10px;
}

/* Cartelera */ 

.card{
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 10px;
    padding: 0;
    margin: 20px;
    width: 250px;
}
.card button{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
}
.card button:hover{
    background-color: #d1d1d1;
}


main
{
    width: 100%;

}

footer
{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    border-radius:  20px 20px 0 0;
    transition: background 0.3s linear; 
}

.containerFooter
{
    max-width: 1240px;
    margin-bottom: -5%;

}

.cont_footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.descrip .logo_area
{
    display: flex;
    align-items: 1rem;
    margin-bottom: 1rem;
}

.descrip .logo_area img
{
border-radius: 50%;
border: 1px solid #fff;


}

.logo_area .logo_name
{
    font-size: 1.5rem;
    font-weight: 700;
    margin: auto;
    color: #000;
}

.service_area
{
    display: flex;
}

.area_service
{
    margin-right: 40px;
}

li .service_name
{
    color: #000;
    font-weight:600 ;

}

.area_service li a
{
    color: #828282;
    padding-bottom: 1px;
    font-weight: 400;

}

.area_service li a:hover
{
    color: #313131;

}

.area_service li 
{
    margin-bottom: 10px;
}

.footer_bottom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.lastSentence
{
    color: #828282;
    display: flex;
    align-items: center;
}

.lastSentence span
{
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

.acordeon
{
    position: relative;
    width: 70% ;
    margin-left: 15%;
    padding-bottom: 17%;
    height: 80%;
}

