/* Agrega esta línea en el encabezado de tu archivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}
.register-box h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}
.top-nav,
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.top-nav {
  width: 100%;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
}

.register-box {
  background-color: #fff;
  color: #333;
  width: 400px;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #e0e0e0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-container img {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.register-box h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.register-box .form-row {
  margin-bottom: 20px;
}

.register-box .form-row input {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #e0e0e0;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

.register-box .form-row input:focus {
  border-color: #333;
}

.register-box button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-box button:hover {
  background-color: #555;
}

.register-box p {
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}

.register-box a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.register-box a:hover {
  color: #555;
}

.title-with-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.title-with-logo img {
  width: 90px; /* Ajusta el tamaño según tus preferencias */
  height: 90px;

}
