/* Reset de estilos para evitar inconsistencias entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

/* Estilos para el botón de reserva */
.reservar-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* Establecer target=_blank para abrir en nueva pestaña/ventana */
.reservar-btn a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.reservar-btn:hover {
    background-color: #2980b9;
}


/* Estilos del icono de Font Awesome */
.fa-shopping-cart {
    margin-right: 5px;
}

/* Estilo para el mensaje de espectáculo agotado */
.alert-danger p {
    color: #ff4d4d; /* Cambia el color del texto a un rojo claro */
    font-weight: bold; /* Hace que el texto sea más llamativo */
    font-size: 20px; /* Ajusta el tamaño del texto */
    text-align: center; /* Centra el texto en el contenedor */
    margin-bottom: 15px; /* Agrega un espacio en la parte inferior */
}
/* Styles for the button to go back to Cartelera */
.back-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.back-btn a {
    color: inherit;
    text-decoration: none;
}

.back-btn:hover {
    background-color: #2980b9;
}

.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

/* Estilo para las etiquetas (labels) */
label {
    font-weight: bold;
    margin-right: 10px;
}

/* Estilo para los select y el input */
select, input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}